@CHARSET "UTF-8";

.input{
	width: 250px;
	padding-right: 15px;
	margin-left: 15px
}

.button {
    margin-left: 80px;
}

.centered {
position: absolute;
height: 100px;
top: 0;
bottom: 0;
margin:auto;
}